spring:
  application:
    name: auth
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/ratel_auth
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format-sql: true

jwt:
  private_key: classpath:cert/private.pem
  public_key: classpath:cert/public.pem
  access-token-expiration: 24 #hours
  refresh-token-expiration: 168


logging:
  level:
    org:
      springframework:
        security: debug

server:
  port: 8686